{% extends '_base.html' %}

{% block title %}Załóż nowe konto{% endblock %}

{% block main-content %}
    <section class="login-page">
        <h2>Załóż konto</h2>
        <form method="post">
            <div class="form-group">
                {{ form.first_name }}
                {% if form.errors.first_name %}
                    <div class="text-danger">
                        {% for error in form.errors.first_name %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.last_name }}
                {% if form.errors.last_name %}
                    <div class="text-danger">
                        {% for error in form.errors.last_name %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email }}
                {% if form.errors.email %}
                    <div class="text-danger">
                        {% for error in form.errors.email %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password1 }}
                {% if form.errors.password1 %}
                    <div class="text-danger">
                        {% for error in form.errors.password1 %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password2 }}
                {% if form.errors.password2 %}
                    <div class="text-danger">
                        {% for error in form.errors.password2 %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group form-group--buttons">
                <a href="{% url 'login' %}" class="btn btn--without-border">Zaloguj się</a>
                <button class="btn" type="submit">Załóż konto</button>
            </div>
        </form>
    </section>
{% endblock %}